@tailwind base;
@tailwind components;
@tailwind utilities;
@import "highlight.js/styles/gml.css";

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.card {
  @apply border p-4 rounded-md;
}

@font-face {
  font-family: "DemoFont";
  src: url("/fonts/DemoFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
